* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

*::selection {
    background: rgb(163, 154, 17);
    color: rgb(255, 255, 255);
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 5px rgb(49, 49, 49);
}

body {
    background: rgb(24, 22, 21);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
    background: rgb(24, 22, 21);

}

body::-webkit-scrollbar-thumb {
    background:rgb(169, 169, 169);
}

body::-webkit-scrollbar-thumb:active {
    background:rgb(208, 208, 208);
}

.meeting_wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/meeting.png);
    /* background-size: cover;
    background-size: auto; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    color: rgb(255, 255, 255);
}

.wrapper_img_meeting {
    margin-top: 10px;
    width: 230px;
    height: 230px;
    margin-bottom: 10px;
    border-radius: 50%;
    background: rgb(179, 168, 73);
    padding: 5px;
}

.img_preview {
    width: 100%;
    height: 100%;
    background: url(../img/laptop.png) center;
    background-size: cover;
}

.wrapper_triangle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.wrapper_item_triangle {
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangle {
    width: 0;
    height: 0;
    border: 45px solid transparent;
    border-top: 20px solid rgb(255, 255, 255);
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    animation: anim_triag 1.5s linear infinite;
}

@keyframes anim_triag {
    0% {
        margin-top: 30px;
    }
    25% {
        margin-top: 50px;
    }
    50% {
        margin-top: 50px;
    }
    75% {
        margin-top: 50px;
    }
    100% {
        margin-top: 30px;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    background: rgb(23, 23, 23);
    padding: 20px;
    box-shadow: 0px 3px 8px 0px rgb(19, 19, 19);
    z-index: 10;
}

/*  more  */

.wrapper_info {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 600px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 2px rgb(0, 0, 0);
}

.item_info {
    width: 100%;
    height: 100%;
    background: url(../img/meeting.png) center;
    background-size: cover;
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper_info:hover .item_info {
    transform: scale(1.03);
}

.h_info {
    color: rgb(255, 255, 255);
}

/*  end  */

.item-header_left {
    text-decoration: none;
    letter-spacing: 1.4px;
    color: white;
    padding: 10px;
    font-size: 18px;
    height: 80px;
    line-height: 50px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 130px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.item-header_left div {
    position: absolute;
    width: 130px;
    height: 130px;
    border: 20px solid rgb(213, 201, 31);
    border-radius: 0% 100% 100% 0% / 0% 100% 100% 0% ;
    left: -80px;
    top: 80px;
    background: rgb(213, 201, 31);
    transition-duration: 0.6s;
    transform-origin: left;
}

.item-header_left:hover div {
    left: 0;
    top: -20px;
    width: 130px;
    height: 120px;
    border-radius: 0%;
}

.item-header_bottom {
    text-decoration: none;
    letter-spacing: 1.4px;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 18px;
    width: 120px;
    height: 80px;
    line-height: 50px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 130px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.item-header_bottom div {
    position: absolute;
    width: 130px;
    height: 120px;
    border: 20px solid rgb(213, 201, 31);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    left: 0px;
    right: 0px;
    bottom: -120px;
    background: rgb(213, 201, 31);
    transition-duration: 0.75s;
    transform-origin: bottom;
}

.item-header_bottom:hover div {
    bottom: 0px;
    /* width: 130px; */
    /* height: 120px; */
    border-radius: 0%;
}

.item-header_right {
    text-decoration: none;
    letter-spacing: 0.5px;
    color: white;
    padding: 10px;
    font-size: 18px;
    height: 80px;
    line-height: 50px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 130px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.item-header_right div {
    position: absolute;
    width: 130px;
    height: 130px;
    border: 20px solid rgb(213, 201, 31);
    border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;
    right: -80px;
    top: 80px;
    background: rgb(213, 201, 31);
    transition-duration: 0.6s;
    transform-origin: right;
}

.item-header_right:hover div {
    right: 0;
    top: -20px;
    width: 130px;
    height: 130px;
    border-radius: 0%;
}

header a:hover .item_p {
    color: black;
}

.item_p {
    z-index: 2;
    position: relative;
}

.wrapper_first_block {
    height: 100vh;
    padding-left: 20px;
    background: url(../img/cit.jpg) center;
    background-size: cover;
    filter: contrast(1.1);
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.filter {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(90deg, rgba(10, 10, 10, 0.435) 0%, rgba(20, 20, 20, 0.345) 38%, rgba(117,117,117,0) 100%);
}

.cit_right_wrapper {
    width:50%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    z-index: 3;
}

.cit_right_wrapper h2 {
    text-shadow: 0px 0xp 5px rgb(213, 201, 31);
}

.wrapper_item_block {
    width: 99vw;
    height: 90vh;
    /* border-radius: 20px; */
    background: url(../img/block1.png) center;
    background-size: cover;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(1.0001);
}

.wrapper_item_block:hover {
    transform: scale(1.01);
}

.alt {
    background: url(../img/block2.png) center;
    background-size: cover;
}

.photo_block_item {
    width: 40%;
    height: 100%;
}

.info_block_item {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

#first_photo {
    background: url('../img/noutbuk.jpg') center;
    background-size: cover;
}

#second_photo {
    background: url('../img/programming.jpg') center;
    background-size: cover;
}

#third_photo {
    background: url('../img/programming2.jpg') center;
    background-size: cover;
}

.text_block_item {

    width: 80%;
    float: left;
    display: flex;
    font-size: 24px;

}


.more-body {

    background: 
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)),
    url('../img/computers.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;

}

#item-info-black {

    background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url(../img/meeting.png) center;
    background-size: cover;

}

#more_text_block_item {

    width: 95%;
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    left: auto;
    right: auto;
    line-height: 35px;

}





















/*  more.html  */

.h_describe {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 40px;
}

/*  end  */

footer {
    height: 150px;
    background: rgb(23, 23, 23);
    position: relative;
}

.wrapper_join {
    display: flex;
}

.join_a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1.5px solid rgb(217, 217, 217);
    border-radius: 8px;
}

.join_a:hover {
    background: rgb(213, 201, 31);
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(213, 201, 31);
}

.powerd_info {
    text-align: center;
    color: rgb(216, 216, 216);
}

.auth_privacy {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
}

@media(max-width: 1100px) {
    /* .wrapper_item_block {
        height: 325px;
    } */
    .text_block_item {

    font-size: 21px;
    
    }
    .info_block_item {

        width: 70%;

    }

    .text_block_item {

        width: 70%;

    }

    .photo_block_item {

        width: 60%;

    }
}

/* @media(max-width: 950px) {
    .wrapper_item_block {
        height: 160px;
    }
} */

@media(max-width: 700px) {
    .wrapper_item_block {
        /* height: 270px; */
        /* display: block; */
        flex-direction: column;
        min-height: 90vh;
        background: url('../img/media_block_1.png') center/center;
        background-size: cover;
    }
    .text_block_item {

    font-size: 18px;
    width: 90%;
    
    }
    .info_block_item {

        width: 90%;

    }

    .photo_block_item {

        width: 100%;

    }
    .alt {
        flex-direction: column-reverse;
        background: url('../img/media_block_2.png') center/center;
        background-size: cover;
    }
    .wrapper_info {
        width: 90%;
        height: 300px;
        font-size: 15px;
    }
}

@media(max-width:600px) {
    .item-header_left, .item-header_bottom, .item-header_right {
        width: 105px;
    }

    .text_block_item {
        font-size: 16px;
    }

    .item-header_bottom div, .item-header_left div, .item-header_right div {
        width: 105px;
    }
    .meeting_wrapper h2 {
        font-size: 15px;
    }
    .wrapper_img_meeting {
        width: 80px;
        height: 80px;
    }
    .triangle {
        border: 25px solid transparent;
        border-top: 15px solid rgb(255, 255, 255);
    }
    .item_p {
        font-size: 13px;
    }
    .wrapper_item_block {
        font-size: 13px;
    }
    .meeting_wrapper {
        background: url(../img/media_background.png);
        background-size: cover;

    }
    .cit_h {
        font-size: 13px;
    }
    .cit_right_wrapper span {
        font-size: 11px;
    }
}

@media(max-width:450px) {
    header {
        height: 80px;
    }

    .text_block_item {

    font-size: 14px;
    width: 95%;
    
    }
    .item-header_left, .item-header_bottom, .item-header_right {
        margin-left: 2px;
        margin-right: 2px;
        letter-spacing: 0px;
    }
    .item_p {
        font-size: 10px;
        font-weight: bold;
    }
    .wrapper_item_block {
        font-size: 11px;
    }
    .cit_right_wrapper {
        padding: 20px;
    }
    .join_a {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .powerd_info {
        font-size: 10px;
    }
    .auth_privacy {
        font-size: 9px;
    }
    .wrapper_info {
        height: 150px;
        font-size: 10px;
    }
    .h_describe {
        margin: auto;
    }
}

@media(max-width:390px) {
    .wrapper_item_block {
        font-size: 9px;
    }
    .text_block_item {

    font-size: 12px;
    
    }
    .item-header_bottom:hover div {
        display: none;
    }
    .item-header_left:hover div {
        display: none;
    }
    .item-header_right:hover div {
        display: none;
    }
    .item-header_bottom:hover .item_p {
        color: white;
    }
    .item-header_left:hover .item_p {
        color: white;
    }
    .item-header_right:hover .item_p {
        color: white;
    }
}

@media(max-width:300px) {
    .item_p {
        font-size: 8px;
    }
}
